{{!-- <section class="product-info">
	<div class="wrapper">
		<div class="d-flex">
			<article class="product-info__box">
				<h2 class="product-info__title">{{{product.title}}}</h2>
				<p class="product-info__text">{{product.text}}</p>
			</article>
			<div class="product-info__img">
				<img src="{{product.img}}" alt="#">
			</div>
		</div>
	</div>
</section> --}}

<section class="product-info">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h2 class="product-info__title mb-30">{{{product.title}}}</h2>
				<p class="product-info__text">{{{product.text}}}</p>
				<button type="button" class="btn btn-lg btn--tertiary">Large</button>
			</div>
			<div class="col-sm">
				<div class="product-info__img">
				<img src="{{product.img}}" alt="#">
			</div>
			</div>
		</div>
	</div>
</section>