<section class="product bg-white">
	<div class="container">

		{{!-- Importing breadcrumb --}}
		<div class="row">
			<div class="col">
				{{> breadcrumb }}
			</div>
		</div>

		<div class="row mb-36">
			<div class="col-lg-7 col-sm-12">
				<div class="product__title">
					<h1>Product name lorem ipsum</h1>
				</div>
			</div> 
			<div class="col-lg-5">
				<div class="product__actions-group d-flex justify-content-end align-items-center">
					<a href="#" class="product__action">
						<i class="fa-solid fa-arrow-left color-black"></i>
					</a>
					<a href="#" class="product__action">
						<i class="fa-solid fa-arrow-right color-black"></i>
					</a>
					<a href="#" class="product__action">
						<i class="fa-regular fa-heart color-black"></i>
					</a>
					<a href="#" class="product__action">
						<svg class="text-success" viewBox="0 0 314.009 314.009" style="width: 1em; height: 1em">
							<use href="{{assets}}/img/svg-sprite/sprite.svg#share-nodes"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		{{!-- Importing carousel --}}
		<div class="row">
			<div class="col-lg-7 col-sm-12">
				<div id="carouselExampleControls" class="carousel slide mb-sm-25" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
						<img src="{{product.img2}}" class="d-block img-fluid" alt="#">
					</div>
					<div class="carousel-item">
						<img src="{{product.img3}}" class="d-block img-fluid" alt="#">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			</div>
			<div class="col-lg-5 col-sm-12">
				<div class="product__card card bg-grey">
					<div class="product__card-body card-body">
						<h3 class="product__card-title card-title">{{{product.title1}}}</h3>
						<p aria-label="paragraph" class="card-text mb-25">{{product.text2}}</p>
						<div class="product__form-floating mb-20">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-floating mb-sm-16">
										<select class="product__form-select form-select" id="floatingSelect" aria-label="Floating label select example">
											<option selected>Gents - Medium </option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
										<label for="floatingSelect">Model</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-floating">
										<select class="product__form-select form-select" id="floatingSelect" aria-label="Floating label select example">
											<option selected>Black</option>
											<option value="1">Black</option>
											<option value="2">Orange</option>
											<option value="3">Pink</option>
										</select>
										<label for="floatingSelect">Color</label>
									</div>
								</div>
							</div>
						</div>
						<div class="product__form-checks mb-10">
							<div class="row">
								<div class="col">
									<div class="product__form-check form-check">
										<input class="product__form-check-input form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											Add option lorem ipsum
										</label>
									</div>
									<div class="product__form-check form-check">
										<input class="product__form-check-input form-check-input me-2" type="checkbox" value="" id="flexCheckChecked" checked>
										<label class="form-check-label" for="flexCheckChecked">
											Add option autpat velit cano totam rem aperiam
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-25">
							<div class="row">
								<div class="col-lg-12">
									<button type="button" class="btn btn-lg btn--primary js-button">{{product.btnText1}}</button>
									<button type="button" class="btn btn-lg btn--secondary js-button">{{product.btnText2}}</button>
								</div>
							</div>
						</div>

						{{> modal }}
						
				</div>
			</div>
			</div>
		</div>
	</div>
</section>