<section class="tabs ptb-36">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="tabs d-flex">
					<li data-tab-target="#description" class="active-tab tab">Description</li>
					<li data-tab-target="#specifications" class="tab">Specifications</li>
					<li data-tab-target="#reviews" class="tab">Reviews</li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="tab-content">
					<article id="description" data-tab-content class="tab__item active-tab">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-sm-12">
									<h2 class="tab__title mb-30">{{{tabs.title1}}}</h2>
									<p class="tab__text mb-25">{{{tabs.text1}}}</p>
									<button type="button" class="btn btn-lg btn--tertiary mb-sm-25 ">{{tabs.btnText1}}</button>
								</div>
								<div class="col-lg-6 col-sm-12">
									<div class="tab__img">
									<img src="{{tabs.img1}}" alt="{{tabs.alt1}}" class="img-fluid">
								</div>
								</div>
							</div>
						</div>
					</article>
					<article id="specifications" data-tab-content class="tab__item">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-sm-12">
									<div class="tab__img">
										<img src="{{tabs.img2}}" alt="{{tabs.alt2}}" class="img-fluid">
									</div>
								</div>
								<div class="col-lg-6 col-sm-12">
									<h2 class="tab__title mb-30">{{tabs.title2}}</h2>
									<p class="tab__text mb-25">{{{tabs.text2}}}</p>
									<button type="button" class="btn btn-lg btn--tertiary mb-sm-25">{{tabs.btnText2}}</button>
								</div>
							</div>
						</div>
					</article>
					<article id="reviews" data-tab-content class="tab__item">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-sm-12">
									<h2 class="tab__title mb-30">{{tabs.title3}}</h2>
									<p class="tab__text mb-25">{{{tabs.text3}}}</p>
									<button type="button" class="btn btn-lg btn--tertiary mb-sm-25">{{tabs.btnText3}}</button>
								</div>
								<div class="col-lg-6 col-sm-12">
									<div class="tab__img">
									<img src="{{tabs.img3}}" alt="{{tabs.alt3}}" class="img-fluid">
								</div>
								</div>
							</div>
						</div>
					</article>
				</div>

			</div>
		</div>
	</div>


	

</section>